@import "tailwindcss";

@keyframes scan {
  0% {
    top: 5%;
    opacity: 0.8;
  }
  50% {
    top: 92%;
    opacity: 1;
  }
  100% {
    top: 5%;
    opacity: 0.8;
  }
}

@media print {
  body {
    background-color: #ffffff !important;
    color: #0f172a !important;
  }
  header, footer, nav, button {
    display: none !important;
  }
}
